{% extends 'store/base.html' %}
{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<div class="container" style="max-width: 1000px">
    <main class="pt-5">
        <div class="row g-3">
            <div class="alert alert-primary fw600 rounded-0 border-0 py-3" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                    class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                COVID-19 - <u>Click here for our latest updates</u> on our stores, website and contact centre. Thank you
                for
                your patience and support.
            </div>

            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image-fluid mx-auto d-block" width="200px">
            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p><span class="lead">{{ product.author|title }}</span> (Author)</p>
                <p>{{ product.description|slice:":355" }}...</p>
            </div>
            <div class="border">
                <div class="col border-bottom">
                    <div class="row p-3">
                        <div class="col-6">Hardback</div>
                        <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }}</span></div>
                    </div>
                </div>
            </div>

        </div>
    </main>

</div>
{% endblock %}